<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link rel="stylesheet" href="/css/login.css">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header-inicio">
        <div class="encabezado">
            <div class="logo-container">
                <a href="/">
                    <img class="logo" src="img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" width="40vw">
                </a>
                <div class="busqueda-y-compras">
                    <h3 class="busqueda-container">
                        <input class="barra-busqueda" type="text" placeholder="Buscar">
                        <button class="boton-busqueda">Buscar</button>
                    </h3>
                    <h3 class="icono-comprar"> <i class="fa-solid fa-hand-holding-dollar fa-2em icono-nav"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
                </div>
            </div>                   
        <nav>
            <ul class="ofertas">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul class="cuenta">
                <a href="/register">
                    <li>
                        <a href="/register"> Creá tu cuenta </a>
                        <i class="fa-solid fa-id-card fa-2em icono-nav"></i>
                    </li>
                </a>
                <li>
                    Ingresá
                    <i class="fa-solid fa-right-to-bracket fa-2em icono-nav"></i>
                </li>
                <li>
                    Mis compras
                    <i class="fa-solid fa-basket-shopping fa-2em icono-nav"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!--Formulario-->
    <div class="container-register">
        <form action="/login" method="post">
            <input class="formulario" type="text" name="nombre" placeholder="Nombre de usuario">
        </form>
    
        <form action="/login" method="post">
            <input class="formulario" type="password" name="contraseña" placeholder="Contraseña" required>
        </form>
    
        <form action="/login" method="post">
            <button class="boton-enviar" type="submit">Enviar</button>
        </form>
    </div>    
    

    <main>

    </main>

    <footer class="footer">
        <section class="section-container">
            <header>
                <i class="fa-solid fa-credit-card fa-2xl"></i>
                <h4 class="titulitos">Pagá con tarjeta o en efectivo</h4>
                <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                    pago. ¡Y
                    siempre es seguro!</p>
            </header>
           
            <header>
                <i class="fa-solid fa-gift fa-2xl"></i>
                <h4 class="titulitos">Envío gratis desde $2.500</h4>
                <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                    Es un
                    beneficio de Mercado Puntos.</p>
            </header>

            <header>
                <i class="fa-solid fa-user-shield fa-2xl"></i>
                <h4 class="titulitos">Seguridad, de principio a fin</h4>
                <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                    estás siempre
                    protegid@</p>
            </header>
            <header class="Copyright">
                <p class="texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </header>
        </section>
    </footer>

</body>

</html>